<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>add</title>
		<link rel="stylesheet" href="../../../common/css/bootstrap.min.css" />
		<style>
			img{
				height: 80px;
				width: 1145px;
			}
			#cancer {
				margin-right: 10px;
			}
		
		</style>
	</head>
	<body>
		<div class="container
			<div class="form-group">
				<img src="../../../common/img/top.png" class="img-thumbnail" alt="top" />
			</div>
			<form id="orderForm" method="post" action="javascript:void(0)">
				<div class="form-group">
					<label>药品编号</label>
					<input type="text" class="form-control" placeholder="medNo" id="medNo" name="medNo"/>
				</div>
				<br>
				<div class="form-group">
					<button class="btn btn-primary pull-right" type="submit">确定</button>
					<button class="btn btn-default pull-right" type="button" id="cancer">取消</button>
				</div>
			</form>
		</div>
		
		<script type="text/javascript" src="../../../common/js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../common/js/jquery-serialize.js" ></script>
		<script type="text/javascript" src="order.js" ></script>
	</body>
</html>
