<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<title>登录</title>
		<link href="../../../common/css/login.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="../../../common/css/bootstrap.min.css" />
	</head>

	<body>
		<div class="container">
			<div class="login">
				<div class="message">农林大学食堂点餐系统-登录</div>
				<div id="darkbannerwrap"></div>
				<form id="formLogin" method="post" action="javascript:void(0);">
					<input type="text" name="phone" placeholder="请输入手机号" required="">
					<hr class="hr15">
					<input type="password" name="password" placeholder="请输入密码" required="">
					<hr class="hr30">
					<input type="submit" value="登录" style="width:100%;">
					<hr class="hr20">
					<input type="button" id="btnRegister" value="注册" style="width:100%;">
					<hr class="hr20">
					<!--<audio controls autoplay="autoplay" loop="loop" type="audio/mp3" class="hidden">
						<!--<source src="../../../common/audio/Don Coi.mp3"></source>
						<source src="../../../common/audio/ea.mp3"></source>
					</audio>-->
				</form>
			</div>

		</div>

		<div class="copyright">© 2017 农林大学食堂点餐系统 by 柯俊</a>
		</div>
		<script src="../../../common/js/jquery.min.js"></script>
		<script src="../../../common/js/jquery-serialize.js"></script>
		<script src="login.js"></script>
	</body>

</html>