<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>common head</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="form-group">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active">
						<a href="#">首页</a>
					</li>
					<li role="presentation">
						<a href="#"><span id="medManage">医药管理</span></a>
					</li>
					<li role="presentation">
						<a href="#">类别管理</a>
					</li>
					<li role="presentation">
						<a href="#">药品销售</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
