<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>add</title>
		<link rel="stylesheet" href="../../../common/css/bootstrap.min.css" />
		<style>
			img{
				height: 80px;
				width: 1145px;
			}
			#cancer{
				margin-right: 10px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="form-group">
				<img src="../../../common/img/top.png" class="img-thumbnail" alt="top" />
			</div>
			<form id="editPswForm" method="post" action="javascript:void(0)" >
				<div class="form-group">
					<input type="text" class="form-control hidden" placeholder="id" id="id" name="id"/>
				</div>
				<div class="form-group">
					<label>用户名</label>
					<input type="text" class="form-control" placeholder="username" id="username" name="username"/>
				</div>
				<div class="form-group">
					<label>新密码</label>
					<input type="text" class="form-control" placeholder="password" id="psw" name="psw"/>
				</div>
				<div class="form-group">
					<label>部门</label>
					<input type="text" class="form-control" placeholder="dept" id="dept" name="dept"/>
				</div>
				<br>
				<div class="form-group">
					<button class="btn btn-primary pull-right" type="submit" id="sure">确定</button>
					<button class="btn btn-default pull-right" type="button" id="cancer">取消</button>
				</div>
			</form>
		</div>
		
		<script type="text/javascript" src="../../../common/js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../common/js/jquery-serialize.js" ></script>
		<script type="text/javascript" src="editPsw.js" ></script>
	</body>
</html>
