<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>add</title>
		<link rel="stylesheet" href="../../../common/css/bootstrap.min.css" />
		<style>
			img{
				height: 80px;
				width: 1145px;
			}
			#cancer{
				margin-right: 10px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="form-group">
				<img src="../../../common/img/top.png" class="img-thumbnail" alt="top" />
			</div>
			<form id="editMedicineForm" method="post" action="javascript:void(0)" >
				<div class="form-group">
					<input type="text" class="form-control hidden" placeholder="id" id="id" name="id"/>
				</div>
				<div class="form-group">
					<label>药品名称</label>
					<input type="text" class="form-control" placeholder="name" id="name" name="name"/>
				</div>
				<div class="form-group">
					<label>药品编号</label>
					<input type="text" class="form-control" placeholder="medNo" id="medNo" name="medNo"/>
				</div>
				<div class="form-group">
					<label>所属类别</label>
					<select id="category" name="category.id" class="form-control">
						<option value="">请选择...</option>
					</select>
				</div>
				<div class="form-group">
					<label>药品描述</label>
					<input type="text" class="form-control" placeholder="description" id="description" name="description"/>
				</div>
				<div class="form-group">
					<label>出厂地址</label>
					<input type="text" class="form-control" placeholder="factoryAdd" id="factoryAdd" name="factoryAdd"/>
				</div>
				<div class="form-group">
					<label>药品数量</label>
					<input type="number" class="form-control" placeholder="medCount" id="medCount" name="medCount"/>
				</div>
				<div class="form-group">
					<label>药品售价</label>
					<input type="number" class="form-control" placeholder="price" id="price" name="price"/>
				</div>
				<br>
				<div class="form-group">
					<button class="btn btn-primary pull-right" type="submit" id="sure">确定</button>
					<button class="btn btn-default pull-right" type="button" id="cancer">取消</button>
				</div>
			</form>
		</div>
		
		<script type="text/javascript" src="../../../common/js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../common/js/jquery-serialize.js" ></script>
		<script type="text/javascript" src="med-edit.js" ></script>
	</body>
</html>
